<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/homeNavbar.ejs')%>

<br>
<div class="dist-geral">
<div class="dist-menu">
    <a class="btn btn-info" href="/">Voltar</a>
</div>
<div class="dist-menu">
    <select id="campeonato" name="campeonato" class="form-element">
        <% campeonatos.forEach((campeonato)=>{ %>
            <option value="<%= campeonato.id %>"><%= campeonato.Campeonato +" - "+ campeonato.Divisao +" - "+ campeonato.Ano %></option>
        <% }) %>
    </select>
    <select id="rodada" name="rodada" class="form-element">
        <% rodadas.forEach((rodada)=>{ %>
            <option value="<%= rodada.rodada %>"><%= rodada.rodada %> ª Rodada</option>
        <% }) %>
    </select>
    <a class="btn btn-info" onclick="campeonatoRodada()">Consultar</a>
</div>
</div>
<div class="container">
    <hr>
    <h2><%= torneio %></h2>
    <h2><%= rodada %> ª Rodada</h2>
    <hr>
    <table class="table no-border">
        <thead>
            <tr>
                <th>Partida</th>
                <th>Mandante</th>
                <th>Gols Mandante</th>
                <th>X</th>
                <th>Gols Visitante</th>
                <th>Visitante</th>
            </tr>
        </thead>
        <tbody>
            <% partidas.forEach(partida=>{ %>
                <tr>
                    <th><%= partida.numeroPartida %></th>
                    <th><%= partida.Mandante %></th>
                    <th><%= partida.golsMandante %></th>
                    <th>x</th>
                    <th><%= partida.golsVisitante %></th>
                    <th><%= partida.Visitante %></th>
                </tr>
            <%}) %>

        </tbody>
    </table>
</div>
<script>
    function campeonatoRodada(){
        const campeonato = document.getElementById('campeonato').value;
        const rodada = document.getElementById('rodada').value;

        window.location.href = `/partidas/campeonato/${campeonato}/${rodada}/`;
    }
</script>

<%- include ('../../partials/footer.ejs')%>
