<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/homeNavbar.ejs')%>

<br>
<div class="dist">
    <a class="btn btn-info" href="/">Voltar</a>
</div>
<div class="container">
    <hr>
    <h2>Palpites</h2>
    <hr>
    <a class="btn btn-success" href="/">Criar novo campeonato</a>
    <hr>
    <table class="table table-bordered bg-gray">
        <thead>
            <tr>
                <th>Jogo</th>
                <th>Mandante</th>
                <th>Visitante</th>
                <th>Resultado</th>
            </tr>
        </thead>
        <tbody>
            <% palpites.forEach(palpite=>{ %>
                <tr>
                    <th><%= palpite.id %></th>
                    <th><%= palpite.Mandante %></th>
                    <th><%= palpite.Visitante %></th>
                </tr>
            <%}) %>
        </tbody>
    </table>
</div>


<%- include ('../../partials/footer.ejs')%>
