<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/homeNavbar.ejs')%>

<br>
<div class="dist">
    <a class="btn btn-info btnOrange" href="/campeonato-palpites">Voltar</a>
</div>
<div class="container">

    <h2>Participantes do Campeonato de Palpites</h2>
    <hr>
    <form action="/tabela-palpites/add-user" method="POST">
        <input type="hidden" id="idCampeonato" name="idCampeonato" value="<%= idCampeonato %>">
        <button type="submit" class="btn btn-success btn-block">Adicionar participante</button>
    </form>
    <hr>
    <table class="table table-bordered bg-gray">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuário</th>
                <th>Pontuação</th>
            </tr>
        </thead>
        <tbody>
            <% campeonatos.forEach(campeonato=>{ %>
                <tr>
                    <th><%= campeonato.id %></th>
                    <th><%= campeonato.usuario %></th>
                    <th><%= campeonato.pontuacao %></th>
                </tr>
            <%}) %>
        </tbody>
    </table>
</div>

<%- include ('../../partials/footer.ejs')%>

