<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/homeNavbar.ejs')%>

<br>
<div class="dist">
    <a class="btn btn-info" href="/">Voltar</a>
</div>
<div class="container">
    <hr>
    <h2>Campeonatos</h2>
    <hr>

    <table class="table table-bordered bg-gray">
        <thead>
            <tr>
                <th>Colocação</th>
                <th>Time</th>
                <th>Pts</th>
                <th>PJ</th>
                <th>Vit</th>
                <th>Emp</th>
                <th>Der</th>
                <th>GM</th>
                <th>GC</th>
                <th>SG</th>
            </tr>
        </thead>
        <tbody>
            <% partidas.forEach(partida=>{ %>
                <tr>
                    <th><%= partida.colocacao %></th>
                    <th><%= partida.time.time %></th>
                    <th><%= partida.pontos %></th>
                    <th><%= partida.jogos %></th>
                    <th><%= partida.vitorias %></th>
                    <th><%= partida.empates %></th>
                    <th><%= partida.derrotas %></th>
                    <th><%= partida.golsPro %></th>
                    <th><%= partida.golsContra %></th>
                    <th><%= partida.golsPro - partida.golsContra %></th>
                </tr>
            <%}) %>
        </tbody>
    </table>
</div>


<%- include ('../../partials/footer.ejs')%>
