<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/homeNavbar.ejs')%>

<br>
<div class="dist-geral">
    <div class="dist-menu">
        <a class="btn btn-info" href="/campeonatos">Voltar</a>
    </div>
    <div class="dist-menu">
        <select id="campeonato" name="campeonato" class="form-element">
            <% campeonatos.forEach((campeonato)=>{ %>
                <option value="<%= campeonato.id %>"><%= campeonato.Campeonato +" - "+ campeonato.Divisao +" - "+ campeonato.Ano %></option>
            <% }) %>
        </select>
        <select id="rodada" name="rodada" class="form-element">
            <option selected="selected" value="<%= rodada %>"><%= rodada %> ª Rodada</option>
            <% rodadas.forEach((rodada)=>{ %>
                <option value="<%= rodada.rodada %>"><%= rodada.rodada %> ª Rodada</option>
            <% }) %>
        </select>
        <a class="btn btn-info" onclick="campeonatoRodada()">Consultar</a>
    </div>
</div>
<div class="container">
    <hr>
    <h2><%= nomeCampeonato %></h2>
    <h4><%= rodada %> ª Rodada</h4>
    <hr>

    <table class="table table-bordered bg-gray">
        <thead>
            <tr>
                <th>Colocação</th>
                <th>Time</th>
                <th>Pts</th>
                <th>PJ</th>
                <th>Vit</th>
                <th>Emp</th>
                <th>Der</th>
                <th>GM</th>
                <th>GC</th>
                <th>SG</th>
            </tr>
        </thead>
        <tbody>
            <% partidas.forEach(partida=>{ %>
                <tr>
                    <th><%= partida.colocacao %></th>
                    <th><%= partida.time.time %></th>
                    <th><%= partida.pontos %></th>
                    <th><%= partida.jogos %></th>
                    <th><%= partida.vitorias %></th>
                    <th><%= partida.empates %></th>
                    <th><%= partida.derrotas %></th>
                    <th><%= partida.golsPro %></th>
                    <th><%= partida.golsContra %></th>
                    <th><%= partida.golsPro - partida.golsContra %></th>
                </tr>
            <%}) %>
        </tbody>
    </table>
</div>
<script>
    function campeonatoRodada(){
        const campeonato = document.getElementById('campeonato').value;
        const rodada = document.getElementById('rodada').value;

        window.location.href = `/partidas/processar-resultados/${campeonato}/${rodada}`;
    }
</script>

<%- include ('../../partials/footer.ejs')%>
