<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/homeNavbar.ejs')%>

<br>
<div class="dist">
    <a class="btn btn-info" href="/">Voltar</a>
</div>
<div class="container">
    <hr>
    <h2>Campeonatos</h2>
    <hr>
    <a class="btn btn-success" href="/admin/usuarios/create">Criar novo campeonato</a>
    <hr>
    <table class="table table-bordered bg-gray">
        <thead>
            <tr>
                <th>Id</th>
                <th>Campeonato</th>
                <th>Divisão</th>
                <th>Edição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% campeonatos.forEach(campeonato=>{ %>
                <tr>
                    <th><%= campeonato.id %></th>
                    <th><%= campeonato.Campeonato %></th>
                    <th><%= campeonato.Divisao %></th>
                    <th><%= campeonato.Ano %></th>
                    <th>
                        <form method="POST" action="/partidas/processar-resultados" class="dist-actions" onsubmit="verificarPalpite(event, this)">
                            <input type="hidden" id="rodada" name="rodada" value="1">
                            <input type="hidden" id="idCampeonato" name="idCampeonato" value="<%= campeonato.id %>">
                            <button class="btn btn-warning">Ver Tabela</button>
                        </form>
                    </th>
                </tr>
            <%}) %>
        </tbody>
    </table>
</div>
<script>
    function verificarPalpite(event, form){
        event.preventDefault();

        form.submit();
    }
</script>


<%- include ('../../partials/footer.ejs')%>
